/* базовый фрейм 1280px */

.popup__form-popup {
  max-width: 430px; /* ширина модального окна */
  border: 1px solid rgba(0, 0, 0, 1);
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px 36px;
  /* border: solid 1px #0ee70e;  вспомогательная рамка */
}

@media screen and (max-width: 600px) {
  .popup__form-popup {
    max-width: 282px; /* ширина модального окна */
    padding: 25px 22px 25px 22px;
  }
}
