/* базовый фрейм 1280px */

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin: 0 0 6px 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
