/* базовый фрейм 1280px */

.profile__avatar-content {
  max-width: 336px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 16px 0 25px 0;
  padding: 0;
  /* border: solid 1px #e05f09; Вспомогательная рамка */
}

@media screen and (max-width: 875px) {
  .profile__avatar-content {
    text-align: center;
  }
}

@media screen and (max-width: 635px) {
  .profile__avatar-content {
    font-size: 14px;
    line-height: 17px;
  }
}
