.page {
  max-width: 1280px; /*  максимальная ширина фрейма 1280px, минимальный - 320px  */
  /* выше установили ограничение по максимальной ширине */

  min-width: 320px;

  margin: 0 auto; /* для экранов больше 1280px отцентрировали весь контент */

  font-family: "Inter", "Arial", sans-serif;
  background-color: #000000;

  /* пример с тренажера, css, формы
  * Сглаживание шрифтов для всей страницы, подробнее об этом —
  * в уроках про адаптацию страницы под различные устройства
  */

  position: relative;

  /* border: solid red 1px; Вспомогательная рамка */

  /* сглаживание шрифтов в Firefox и браузерах на движке Webkit (Яндекс.Браузер, Google Chrome, Opera, Safari) */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* правила для масштабирования шрифтов */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  /* рендеринг  */
  text-rendering: optimizeLegibility;

  /* Еще пример с тренажера, css, формы */

  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
}
