/* Поле ввода данных формы */

.popup__submit-buttom {
  width: 358px;
  height: 50px;
  display: block;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 2px;
}

.popup__submit-buttom:hover {
  opacity: 0.8;
  transition: opacity 0.7s linear;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__submit-buttom {
    width: 238px;
  }
}
