/* базовый фрейм 1280px */

.header {
  margin: 0 auto 40px;
  max-width: 880px; /* макс.ширина, 880px; размер header по макету */
  padding: 45px 0 41px 0;
  display: flex;
  border-bottom: 1px solid #545454;
  /* border: solid 1px #1225d3; Вспомогательная рамка */
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31px;
  }
}
