/* Заголовок формы редактирования профилч */

.popup__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 0;
  margin: 0 0 54px 0;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__heading {
    font-size: 18px;
    line-height: 22px; /* identical to box height */
    margin-bottom: 75px;
  }
}
