/* базовый фрейм 1280px */

.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../images/plus_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 1.2s linear;
  cursor: pointer;
}

@media screen and (max-width: 875px) {
  .profile__add-button {
    display: block;
    margin: 0 auto;
    width: 282px;
    height: 50px;
  }
}
