/* базовый фрейм 1280px */

.profile__profile-info {
  max-width: 336px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* border: solid 1px #e05f09; Вспомогательная рамка */
}

@media screen and (max-width: 890px) {
  .profile__profile-info {
    max-width: 282px;
  }
}
