/* базовый фрейм 1280px */

.elements__signature {
  max-width: 246px;
  min-height: 23px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
