/* Кнопка, Закрыть модальное окно */

.popup__close {
  position: absolute;
  max-width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/close-icon-white-32-32.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity 0.7s linear;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__close {
    max-width: 20px;
    height: 20px;
    background-image: url(../../../images/close-icon-white-20-20.svg);
    right: 0;
    top: -36px;
  }
}
