/* базовый фрейм 1280px */

.elements__element-like {
  width: 29px;
  height: 19px;
  background-image: url(../../../images/like-disabled.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #fff;
  box-sizing: border-box;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border: 0;
  transition: opacity 1.2s linear;
}

.elements__element-like:hover {
  opacity: 0.6;
  cursor: pointer;
}

.elements__element-like:active {
  background-image: url(../../../images/like-active.svg);
  opacity: 1;
  transition: opacity 1.7s linear;
}
