/* Кнопка, Закрыть модальное окно */

.form-popup__close-item {
  position: absolute;
  max-width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/close-icon-white-32-32.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-popup__close-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .form-popup__close-item {
    max-width: 20px;
    background-image: url(../../../images/close-icon-white-20-20.png);
    right: 0;
    top: -36px;
  }
}
