/* базовый фрейм 1280px */

.profile__avatar {
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 27px 0 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px #e05f09; Вспомогательная рамка */
}

@media screen and (max-width: 900px) {
  .profile__avatar {
    display: block;
    margin: 0 auto 23px;
  }
}
