/* базовый фрейм 1280px */

.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  width: 100%;
  margin: 0 27px 0 0;
  padding: 0;
  /* border: solid 1px #e05f09; Вспомогательная рамка */
}

@media screen and (max-width: 875px) {
  .profile__avatar {
    display: block;
    margin: 0 auto 14px;
  }
}
