/* подключение стилей normalize */
@import url("../vendor/normalize.css");

/* подключение шрифта */
@import url("../vendor/fonts/fonts.css");

/* стили секции page */
@import url("../blocks/page/page.css");

/* стили секции header */
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

/* стили секции profile */
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__avatar-header/profile__avatar-header.css");
@import url("../blocks/profile/__profile-info/profile__profile-info.css");
@import url("../blocks/profile/__avatar-content/profile__avatar-content.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__edit-info/profile__edit-info.css");
@import url("../blocks/profile/__block-info/profile__block-info.css");

/* стили секции elements */
@import url("../blocks/elements/elements.css");
@import url("../blocks/elements/__element/elements__element.css");
@import url("../blocks/elements/__element-text/elements__element-text.css");
@import url("../blocks/elements/__zone-signature/elements__zone-signature.css");
@import url("../blocks/elements/__element-image/elements__element-image.css");
@import url("../blocks/elements/__element-like/elements__element-like.css");
@import url("../blocks/elements/__signature/elements__signature.css");

/* стили секции footer */
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");

/* стили секции popup */
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__form-popup/popup__form-popup.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__heading/popup__heading.css");
@import url("../blocks/popup/__item/popup__item.css");
@import url("../blocks/popup/__submit-buttom/popup__submit-buttom.css");

/* @import url("../blocks/popup/_opened/popup_opened.css");  !!! раскомментировать для активации попап */
