/* Поле ввода данных формы */

.popup__item {
  display: block;
  width: 358px;
  min-height: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline-color: #fff;
}

.popup__item:nth-child(2) {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .popup__item {
    width: 238px;
  }
  .popup__item:nth-child(2) {
    margin-bottom: 45px;
  }
}
