/* Поле ввода данных формы */

.form-popup__item {
  display: block;
  width: 358px;
  min-height: 27px;
  box-sizing: border-box;
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  border: 0;
  outline-color: #fff;
}

.form-popup__item:nth-child(2) {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .form-popup__item {
    width: 238px;
  }
  .form-popup__item:nth-child(2) {
    margin-bottom: 45px;
  }
}
